# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
backend/myenv/
backend/env/
backend/venv/
backend/.venv/

# Secrets & Configs
backend/.env
backend/.env.example
backend/backend/settings.py

# Database
backend/db.sqlite3
backend/db.sqlite3-journal

# Logs
*.log
npm-debug.log*

# Node / Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.env.local

# OS Files
.DS_Store
Thumbs.db